<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="ALevel\Message\Api\Data\MessageInterface"
                type="ALevel\Message\Model\Message"/>

    <preference for="ALevel\Message\Api\MessageRepositoryInterface"
                type="ALevel\Message\Model\MessageRepository"/>

    <preference for="ALevel\Message\Api\Data\MessageSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
</config>