<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="alevel" translate="label" sortOrder="200">
            <label>Alevel</label>
        </tab>
        <section id="alevel" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General</label>
            <tab>alevel</tab>
            <resource>ALevel_BlockLayoutController::configuration</resource>
            <group id="alevel_group" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom input</label>
                <field id="life_time" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom label</label>
                    <comment>General</comment>
                </field>

                <field id="default" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default</label>
                    <comment>Test config</comment>
                </field>

                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="atom_eu_countries" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>European Union Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
            </group>
        </section>

    </system>
</config>
