<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="ALevel\Practic\Api\Data\CustomerInterface"
                type="ALevel\Practic\Model\Customer"/>

    <preference for="ALevel\Practic\Api\CustomerRepositoryInterface"
                type="ALevel\Practic\Model\CustomerRepository"/>

</config>
