<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ALevel_Event::alevel_event"
             title="ALevel Event"
             translate="title"
             module="ALevel_Event"
             sortOrder="80"
             parent="Magento_Catalog::inventory"
             action="alevel_event/users"
             resource="ALevel_Event::users_list_access"/>
    </menu>
</config>
