<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="ALevel\JavaScript\Api\Data\MessageInterface"
                type="ALevel\JavaScript\Model\Message"/>

    <preference for="ALevel\JavaScript\Api\MessageRepositoryInterface"
                type="ALevel\JavaScript\Model\MessageRepository"/>

    <preference for="ALevel\JavaScript\Api\Data\MessageSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>

    <virtualType name="ALevel\JavaScript\Model\ResourceModel\Message\GridCollection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">alevel_message</argument>
            <argument name="resourceModel"
                      xsi:type="string">ALevel\JavaScript\Model\ResourceModel\Message</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="alevel_message_listing_data_source"
                      xsi:type="string">ALevel\JavaScript\Model\ResourceModel\Message\GridCollection

                </item>
            </argument>
        </arguments>
    </type>

</config>
